*,
*::before,
*::after {
    box-sizing: border-box;
}

#page-content {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 70px;

}

.album-title {
    width: 150px;
}

.album-title:hover {
    opacity: 0.6;
}

.author-link:hover {
    opacity: 0.6;
}

@media screen and (min-width: 510px) and (max-width: 850px) {
    .album-item {
        flex: 0 0 auto;
        width: calc((100% / 12) * 4);
    }
}

@media screen and (min-width: 330px) and (max-width: 510px) {
    .album-item {
        flex: 0 0 auto;
        width: calc((100% / 12) * 5);
    }

    .album-list {
        align-items: center;
    }
}

/* a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

.album-text {
    margin-left: 15px;
}

.album-item {
    margin-bottom: 15px;
}

.album-text:hover {

    text-decoration: underline;
} */