.sticky {
    padding: 15px 100px;
    background-color: #fff;
}

@media screen and (min-width: 330px) and (max-width: 650px) {
    .sticky {
        padding: 15px 30px;
        background-color: #fff;
    }
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    z-index: 100000;
}

.active {
    text-decoration: underline;
    text-decoration-color: #024ebf;
    opacity: 80%;
}