*,
*::before,
*::after {
    box-sizing: border-box;
}

#page-content {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 70px;

}

.posts-list.data-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 10px;
  }


