*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 15px;
  list-style-type: none;
  padding: 0
}

.result-link {
  text-decoration: none;
}